@{
    ViewBag.Title = "Página Inicial";
}

<div class="jumbotron">
    <h1>Estudando ASP.NET</h1>
    <p class="lead">Tenho a ideia de criar um site em ASP.NET para aumentar meu conhecimento e know hall</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Porque estou estudando</h2>
        <p>
            Grid 1
        </p>
    </div>
    <div class="col-md-4">
        <h2>Porque estou estudando</h2>
        <p>
            Grid 2
        </p>
    </div>
    <div class="col-md-4">
        <h2>Porque estou estudando</h2>
        <p>
            Grid 3
        </p>
    </div>
</div>